- head_row = 3
- head_col = 1
- data_row = 30
- data_col = 20

%h1>StickyTable
.sticky_table
  %table
    %thead
      - (1..head_row).each do |row|
        %tr
          - (1..head_col).each do |col|
            %th.blank<>
              &nbsp;
          - (1..data_col).each do |col|
            %th<>
              head(#{row},#{col})
    %tbody
      - (1..data_row).each do |row|
        %tr
          - (1..head_col).each do |col|
            %th<>
              left(#{row},#{col})
          - (1..data_col).each do |col|
            %td<>
              data(#{row},#{col})

/ ==== support browser information ====
- @support = {}
- @support[:chrome]  = { icon: "chrome"           , name: "Chrome" , version: "60"  , support: "supported"     }
- @support[:firefox] = { icon: "firefox"          , name: "Firefox", version: "55"  , support: "supported"     }
- @support[:safari]  = { icon: "safari"           , name: "Safari" , version: "10.1", support: "supported"     }
- @support[:ie]      = { icon: "internet-explorer", name: "IE"     , version: "11"  , support: "not supported" }
- @support[:edge]    = { icon: "edge"             , name: "Edge"   , version: "15"  , support: "not supported" }
%h2>Support
%table.support
  - @support.each do |key, value|
    %tr
      %td
        %i(class="fa fa-#{value[:icon]}")
        = value[:name]
      %td
        = value[:version]
      %td
        = value[:support]
